{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-12">
            <h1 class="title">Write a new story</h1>
        </div>
    </div>


            <div class="columns">
                <div class="column is-12">
            <form action="." method="POST">
                {% csrf_token %}

                {{ form.as_p }} <!--gives good styling -->

                <div class="field">
                    <div class="control">
                        <button class="button is-success">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}